Templated Emails

How do I send a Template Email ? Like a simple "<h1>Test</h1> Email".

Thanks in advance.


This library provides a MIME envelope which escapes the message using 7bit encoding and specifies no `Content-Type`.

[RFC2045§5.2](https://tools.ietf.org/html/rfc2045#section-5.2) states:

> Default RFC 822 messages without a MIME Content-Type header are taken
> by this protocol to be plain text in the US-ASCII character set,
> which can be explicitly specified as:
>
>     Content-type: text/plain; charset=us-ascii

So, you cannot send HTML emails with this module.

I think this simple behavior is very helpful as it lets you get off the ground running with simple text emails. However, if you want to send HTML/templated emails, you would need a new API which lets you build and pass a MIME-encoded message directly. When I get to it I will make a pull request for this.

I would add a new API which lets you pass a MIME-encoded message. The existing API will continue sending plain text messages, so it shouldn’t be a breaking change.

Hey @binki and @aspofficial I have updated this package and provide support to send HTML content on email.

Kindly update your package to its newer version `https://www.npmjs.com/package/gmail-node` and  use method `sendHTML()`.

Thanks